body{
    background-color: #070d12;
    /*background-image: url(../Imagens/op1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/

    font-family:'VT323', monospace ;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}


h2.cargo{
    padding-bottom: 10px;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #D9BBA0;   
    border-radius: 10px;
    overflow: hidden;
}

.abas img{
    width: 30px;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha horizontalmente* por causa do flex direction columm*/
    gap: 10px;      
}

.cartao .minhas-informacoes img{ 
    border-radius: 50px;
    border: 4px solid #6C7A8C;
    width: 96px;
    height: 96px;
}
.cartao .minhas-informacoes .nome{
    font-size: 26px;
}
.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}
.cartao .minhas-informacoes .conteudo{
     margin-top: 15px;
}

.cartao .abas{
    display: flex;
    
}
.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cargo .abas img{
    width: 30px;
}
.cartao .abas .aba.selecionado{
    background-color: #262626;

}
.cartao .informacoes-abas{
    background-color: #262626;
}
.cartao .abas .aba:hover{/*hover é uma pseudo classe hover quer dizer passar por cima*/
    background-color: #414141;
    
    
}

.cartao .abas .aba:active {
    background-color: #ffd42aff;
    transform: scale(0.95);
    
   }

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}
.informacoes-abas .informacao.selecionado{
    display: block;
    

}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}
.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}
.informacoes-abas .descricao span{
    color: #BF9075;

}
.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 200px;/*esse comando para limitar o espaço entre os botoes*/
    /*overflow-y: auto;/*esse comando paraproporcionar a adição de novos botoes sem desajustar o alinhamento*/
    
    

}
.redes-sociais li a{
    width: 250px;
    border-radius: 1px 10px;
    display: block;
    color: #070d12;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out; /*Aqui ele dá aquela transição suave ao passar o mouse por cima das caixas de cada rede social*/
    opacity: 0.6; /*Aqui ele dá aquela piscada ao passar o mouse por cima das caixas de cada rede social*/
    box-shadow: -11px 13px 12px -4px rgba(0,0,0,0.63);

}
.redes-sociais .curriculo{
    background-color: #EB96A1;

}
.redes-sociais .linkedin{
    background-color: #7FC8EB;

}
.redes-sociais .github{
   background-color: #ca4cc4;
}
.redes-sociais li a:hover{ 
    opacity: 0.9; /*Aqui ele dá aquela piscada ao passar o mouse por cima das caixas de cada rede social*/
    font-style: oblique;
    color: white;
    transform: perspective(180px) rotateX(30deg) translateY(2px);
            
}
.redes-sociais li a:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
    background-image: linear-gradient(90deg, #ffd42a 0%, #fff6d5 100%);
    box-shadow: 0px 0px 10px 5px #ffd42aff; 
    color: #070d12;
    
   }